.Icones{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 25px;
    }
}